@import "long-dark/codeblock.dark.css";
@import "long-dark/sourcemode.dark.css";

:root {
  --bg-color: #0d1117;
  --side-bar-bg-color: #21252b;
  --text-color: #b8bfc6;
  --select-text-bg-color: #264e77;
  --item-hover-bg-color: #70717d;
  --control-text-color: #b7b7b7;
  --control-text-hover-color: #eee;
  --window-border: 0.0625rem solid #555;
  --active-file-bg-color: rgb(34, 34, 34);
  --active-file-border-color: #8d8df0;
  --primary-color: #6dc1e7;
  --active-file-text-color: white;
  --item-hover-text-color: white;
  --rawblock-edit-panel-bd: #333;
  --search-select-bg-color: #428bca;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: var(--bg-color);
  fill: currentColor;
  line-height: 1.5rem;
}

#write {
  max-width: 85%;
}

html,
body,
button,
input,
select,
textarea,
div.code-tooltip-content {
  border-color: transparent;
  color: #b8bfc6;
}

div.code-tooltip,
.md-hover-tip .md-arrow:after {
  background: #333;
}

.popover.bottom > .arrow:after {
  border-bottom-color: #333;
}

html,
body,
button,
input,
select,
textarea {
  font-family: Consolas, SimHei, serif;
}

hr {
  border: 0;
  margin: 1.5rem 0;
  height: 0.125rem;
  background: #474d54;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5rem 0;
  padding: 0;
  color: #efb752;
  font-family: Consolas, SimHei, serif;
  font-weight: bold;
  clear: both;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

h1 {
  border-bottom: 0.0625rem solid gray;
  margin-top: 3rem;
  font-size: 3rem;
  line-height: 4.5rem;
}

h2 {
  border-bottom: 0.0625rem solid gray;
  font-size: 2.5rem;
  line-height: 3.75rem;
}

h3 {
  font-size: 2.25rem;
  line-height: 3.375rem;
}

h4 {
  font-size: 2rem;
  line-height: 3rem;
}

h5 {
  font-size: 1.75rem;
  line-height: 2.625rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
  position: absolute;
  left: 0;
  top: 50%;
  border: 0.0625rem solid #ddd;
  border-radius: 0.1875rem;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  color: #ddd;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: normal;
  vertical-align: bottom;
  transform: translate(-150%, -50%);
}

h1.md-focus:before,
h2.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
  position: absolute;
  left: 0;
  top: 50%;
  border: 0.0625rem solid #fff;
  border-radius: 0.1875rem;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: normal;
  vertical-align: bottom;
  transform: translate(-150%, -50%);
}

h1:before {
  content: "h1";
}

h2:before {
  content: "h2";
}

h3:before {
  content: "h3";
}

h4:before {
  content: "h4";
}

h5:before {
  content: "h5";
}

h6:before {
  content: "h6";
}

a {
  color: #53bfd9;
  text-decoration: underline;
  outline: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

a:hover {
  color: skyblue;
}

sup.md-footnote {
  background-color: #555;
  color: #ddd;
}

p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

p,
ul,
dd,
ol,
hr,
address,
pre,
table,
iframe,
.wp-caption,
.wp-audio-shortcode,
.wp-video-shortcode {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

li > blockquote {
  margin-bottom: 0;
}

audio:not([controls]),
[hidden] {
  display: none;
}

::-moz-selection,
*.in-text-selection,
::selection {
  color: #fff;
  background: #4a89dc;
  text-shadow: none;
}

ul,
ol {
  padding: 0 0 0 1.875rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}

b,
th,
dt,
strong {
  color: #fff;
  font-weight: bold;
}

i,
em,
dfn,
cite {
  color: white;
  font-style: italic;
}

blockquote {
  border-left: solid 0.1875rem #42b983;
  margin: 2.1875rem 0 1.875rem;
  padding: 0.9375rem 1.25rem 0.9375rem 1.875rem;
  background-color: #232f29;
  color: #efefef;
  font-size: 0.875rem;
}

pre,
code,
kbd,
tt,
var {
  background: rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  font-family: Consolas, SimHei, serif;
}

kbd {
  border-radius: 0.1875rem;
  padding: 0.125rem 0.25rem;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  box-shadow: inset 0 -0.0625rem 0 rgba(0, 0, 0, 0.25);
}

pre.md-fences {
  border-radius: 0.3125rem;
  margin-bottom: 1.25rem;
  padding: 0.625rem 0.625rem 0.625rem 1.875rem;
  background: #151718;
  transition: all 0.3s ease;
}

pre.md-fences:hover {
  box-shadow: 0 0 0.625rem #8ab3c6;
}

code {
  background-color: #2e3033;
  color: aqua;
}

.enable-diagrams pre.md-fences[lang="sequence"] .code-tooltip,
.enable-diagrams pre.md-fences[lang="flow"] .code-tooltip,
.enable-diagrams pre.md-fences[lang="mermaid"] .code-tooltip {
  right: 0.25rem;
  bottom: -2.2em;
}

code,
kbd,
tt,
var {
  padding: 0.125rem 0.3125rem;
}

table {
  border-top: 0.1875rem solid #e03997;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  border: 0.0625rem solid #474d54;
  padding: 0.3125rem 0.625rem;
  vertical-align: top;
}

.md-inline-math script {
  color: #81b1db;
}

mark {
  background: #d3d40e;
}

.task-list {
  padding-left: 0;
}

.md-task-list-item {
  padding-left: 1.25rem;
}

.md-task-list-item > input {
  top: auto;
}

.md-task-list-item > input:before {
  display: inline-block;
  border: 1px solid #b8bfc6;
  margin-top: -0.4rem;
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background-color: #363b40;
  text-align: center;
  vertical-align: middle;
}

.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before {
  content: "\221A";
  color: #dedede;
  font-size: 0.625rem;
  line-height: 0.625rem;
}

.auto-suggest-container {
  border: 0;
  background-color: #525c65;
}

#typora-quick-open {
  background-color: #525c65;
}

#typora-quick-open input {
  border: 0;
  border-bottom: 0.0625rem solid grey;
  background-color: #525c65;
}

.typora-quick-open-item {
  background-color: inherit;
  color: inherit;
}

.typora-quick-open-item.active,
.typora-quick-open-item:hover {
  background-color: #4d8bdb;
  color: white;
}

.typora-quick-open-item:hover {
  background-color: rgba(77, 139, 219, 0.8);
}

.typora-search-spinner > div {
  background-color: #fff;
}

#write pre.md-meta-block {
  border-bottom: 0.0625rem dashed #ccc;
  padding-bottom: 0.6em;
  background: transparent;
  line-height: 1.6em;
}

.btn,
.btn .btn-default {
  background: transparent;
  color: #b8bfc6;
}

.ty-table-edit {
  border-top: 0.0625rem solid gray;
  background-color: #363b40;
}

.popover-title {
  background: transparent;
}

.md-image > .md-meta {
  color: #bbbbbb;
  background: transparent;
}

.md-expand.md-image > .md-meta {
  color: #ddd;
}

.md-toc-item {
  color: #a8c2dc;
}

#write div.md-toc-tooltip {
  background-color: #363b40;
}

.dropdown-menu .btn:hover,
.dropdown-menu .btn:focus,
.md-toc .btn:hover,
.md-toc .btn:focus {
  background: black;
  color: white;
}

#toc-dropmenu {
  border: 0.0625rem solid rgba(253, 253, 253, 0.15);
  background: rgba(50, 54, 59, 0.93);
}

#toc-dropmenu .divider {
  background-color: #9b9b9b;
}

.outline-expander:before {
  top: 0.125rem;
}

#typora-sidebar:hover .outline-title-wrapper {
  border-left: 0.0625rem dashed;
}

.outline-title-wrapper .btn {
  color: inherit;
}

.outline-item-active {
  color: #efb752;
}

.outline-item:hover {
  background-color: #363b40;
}

.md-comment {
  color: #5a95e3;
  opacity: 1;
}

.md-inline-math g,
.md-inline-math svg {
  stroke: #b8bfc6;
  fill: #b8bfc6;
}

[md-inline="inline_math"] {
  color: #9cb2e9;
}

#math-inline-preview .md-arrow:after {
  background: black;
}

.modal-content {
  border: 0;
  background: var(--bg-color);
}

.modal-title {
  font-size: 1.5em;
}

.modal-content input {
  background-color: rgba(26, 21, 21, 0.51);
  color: white;
}

.modal-content .input-group-addon,
.form-inline .input-group .input-group-addon,
.megamenu-menu-panel tbody tr:hover td:nth-child(1),
.ty-side-sort-btn.active,
.ty-side-sort-btn:hover,
.selected-folder-menu-item a:after {
  color: white;
}

.modal-backdrop {
  background-color: rgba(174, 174, 174, 0.7);
}

.modal-content .btn-primary {
  border-color: var(--primary-color);
}

.md-table-resize-popover {
  background-color: #333;
}

#md-searchpanel {
  border-bottom: 0.0625rem dashed grey;
}

.context-menu,
#spell-check-panel,
#footer-word-count-info {
  background-color: #42464a;
}

.context-menu.dropdown-menu .divider,
.dropdown-menu .divider {
  background-color: #777777;
}

footer {
  color: inherit;
}

@media (max-width: 62.5rem) {
  footer {
    border-top: none;
  }

  footer:hover {
    color: inherit;
  }
}

#file-info-file-path .file-info-field-value:hover {
  background-color: #555;
  color: #dedede;
}

.megamenu-content,
.megamenu-opened header {
  background: var(--bg-color);
}

#megamenu-menu-sidebar {
  background-color: var(--side-bar-bg-color);
}

.megamenu-menu-panel h2,
.megamenu-menu-panel h1,
.long-btn {
  color: inherit;
}

.megamenu-menu-panel input[type="text"] {
  border: 0;
  border-bottom: 0.0625rem solid;
  background: inherit;
}

#recent-file-panel-action-btn {
  background: inherit;
  border: 0.0625rem solid grey;
}

.megamenu-menu-panel .dropdown-menu > li > a {
  background-color: #2f353a;
  color: inherit;
  text-decoration: none;
}

.megamenu-menu-panel table td:nth-child(1) {
  color: inherit;
  font-weight: bold;
}

.modal-footer .btn-default,
.modal-footer .btn-primary,
.modal-footer .btn-default:not(:hover) {
  border-color: transparent;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  border: 0.0625rem solid #ddd;
  background-color: inherit;
  color: white;
}

.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

#recent-file-panel tbody tr:nth-child(2n-1) {
  background-color: transparent;
}

.megamenu-menu-panel tbody tr:hover td:nth-child(2) {
  color: inherit;
}

.megamenu-menu-panel .btn {
  border: 0.0625rem solid #eee;
  background: transparent;
}

.mouse-hover .toolbar-icon.btn:hover,
#w-full.mouse-hover,
#w-pin.mouse-hover {
  background-color: inherit;
}

.typora-node::-webkit-scrollbar {
  width: 0.3125rem;
}

.typora-node::-webkit-scrollbar-thumb:vertical {
  background: rgba(250, 250, 250, 0.3);
}

.typora-node::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(250, 250, 250, 0.5);
}

#w-unpin {
  background-color: #4182c4;
}

#top-titlebar,
#top-titlebar * {
  color: var(--item-hover-text-color);
}

.typora-sourceview-on #toggle-sourceview-btn,
#footer-word-count:hover,
.ty-show-word-count #footer-word-count {
  background: #333;
}

#toggle-sourceview-btn:hover {
  background: #333;
  color: #eee;
}

.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) *,
.on-focus-mode li[cid]:not(.md-focus-container),
.on-focus-mode .md-fences.md-focus .CodeMirror-code > *:not(.CodeMirror-activeline) *,
.on-focus-mode .CodeMirror.cm-s-inner:not(.CodeMirror-focused) * {
  color: #686868 !important;
}

.on-focus-mode .md-focus,
.on-focus-mode .md-focus-container {
  color: #fff;
}

.on-focus-mode #typora-source .CodeMirror-code > *:not(.CodeMirror-activeline) * {
  color: #686868 !important;
}

#write .md-focus .md-diagram-panel {
  border: 0.0625rem solid #ddd;
  margin-left: -0.0625rem;
  width: calc(100% + 0.125rem);
}

#write .md-focus.md-fences-with-lineno .md-diagram-panel {
  margin-left: auto;
}

.md-diagram-panel-error {
  color: #f1908e;
}

.active-tab-files #info-panel-tab-file,
.active-tab-files #info-panel-tab-file:hover,
.active-tab-outline #info-panel-tab-outline,
.active-tab-outline #info-panel-tab-outline:hover {
  color: #eee;
}

.sidebar-footer-item:hover,
.footer-item:hover {
  background: inherit;
  color: white;
}

#sidebar-files-menu {
  border: 0.0625rem solid;
  background-color: var(--bg-color);
  box-shadow: 0.25rem 0.25rem 1.25rem rgba(0, 0, 0, 0.80);
}

.file-list-item {
  border-bottom: none;
}

.file-list-item-summary {
  opacity: 1;
}

.file-list-item.active:first-child {
  border-top: none;
}

.file-node-background {
  height: 2rem;
}

.file-library-node.active > .file-node-content,
.file-list-item.active {
  color: var(--active-file-text-color);
}

.file-library-node.active > .file-node-background {
  background-color: var(--active-file-bg-color);
}

.file-list-item.active {
  background-color: var(--active-file-bg-color);
}

#ty-tooltip {
  background-color: black;
  color: #eee;
}

.md-task-list-item > input {
  margin-left: -1.3em;
  margin-top: 0.3rem;
  -webkit-appearance: none;
}

.md-mathjax-midline {
  background-color: #57616b;
  border-bottom: none;
}

footer.ty-footer {
  border-color: #656565;
}

.ty-preferences .btn-default {
  background: transparent;
}

.ty-preferences .btn-default:hover {
  background: #57616b;
}

.ty-preferences select {
  border: 0.0625rem solid #989698;
  height: 1.25rem;
}

.ty-preferences .nav-group-item.active {
  background: var(--item-hover-bg-color);
}

.ty-preferences input[type="search"] {
  border-color: #333;
  border-radius: 0.375rem;
  background: #333;
  line-height: 1.375rem;
  color: white;
}

.ty-preferences input[type="search"]:focus {
  box-shadow: none;
}

[data-is-directory="true"] .file-node-content {
  margin-bottom: 0;
}

.file-node-title {
  line-height: 1.375rem;
}

.html-for-mac .file-node-open-state,
.html-for-mac .file-node-icon {
  line-height: 1.625rem;
}

::-webkit-scrollbar-thumb,
#typora-sidebar:hover div.sidebar-content-content::-webkit-scrollbar-thumb:horizontal {
  background: rgba(230, 230, 230, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(230, 230, 230, 0.5);
}

.nav-group-item:active {
  background-color: #474d54;
}

figure {
  border-radius: 0.1875rem 0.1875rem 0 0;
}
